.list-group-item {
    line-height: 30px;
}

.cnv-detail {
	width: 70%;
}

.cnv-detail.is-sender .list-group-item {
	background: #42BFF4;
	color: white;
}

.cnv-detail.not-sender {
	float: right;
}

.clear {
	clear: both;
}

.pointer {
	cursor: pointer;
}